//UTILITY --FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
@import './colors.module';

@font-face {
  font-family: 'Konnect Extra Bold';
  src: url(/fonts/KonnectExtraBold.otf);
}

//GLOBAL --TRANSITION BARS
.transition {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  &.slide-in {
    transform-origin: left;
  }

  &.slide-out {
    transform-origin: right;
  }
}

.transition-logo {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

//NAVBAR
.navbar-link {
  text-transform: lowercase;
  height: 50%;
  padding: 0.25em 0.75em;

  &:hover {
    text-decoration: none !important;

    &.hover-green {
      color: $green;
    }

    &.hover-pink {
      color: $pink;
    }

    &.hover-darkGray {
      color: $darkGray;
    }

    &.hover-white {
      color: $white;
    }
  }

  &.active {
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      margin-left: 0.75em;
      border-bottom: 5px solid;
      border-color: $green;
      content: '';
    }
  }
}
