@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'Konnect Extra Bold';
  src: url(/fonts/KonnectExtraBold.otf);
}

.transition {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  &.slide-in {
    transform-origin: left;
  }

  &.slide-out {
    transform-origin: right;
  }
}

.transition-logo {
  position: fixed;
  top: 0;
  left: 0;

  width: '100px';
  height: '200px';
}
